{
  "sourceCompatibility": 17,
  "targetCompatibility": 17,
  "classPath": "/opt/flutter/bin/cache/artifacts/engine/android-arm64/flutter.jar",
  "classes" : {
    "io.flutter.plugin.common.BinaryMessenger": "FlutterBinaryMessenger",
    "java.nio.Buffer": "JavaNIOBuffer",
    "java.nio.ByteBuffer": "JavaNIOByteBuffer",
    "java.nio.ByteOrder": "JavaNIOByteOrder",
    "com.padl.FlutterAndroid.FlutterSwiftBinaryMessageHandler": "_FlutterSwiftBinaryMessageHandler",
    "com.padl.FlutterAndroid.FlutterSwiftBinaryReply": "_FlutterSwiftBinaryReply",
    "com.padl.FlutterAndroid.SwiftHeapObjectHolder": "SwiftHeapObjectHolder",
    "com.padl.FlutterAndroid.ByteBufferHelper": "ByteBufferHelper",
  }
}
