{
  "classPath": "/opt/flutter/bin/cache/artifacts/engine/android-arm64/flutter.jar:.build/plugins/outputs/flutterswift/AndroidFlutter/destination/JavaCompilerPlugin/Java",
  "classes" : {
    "com.padl.AndroidFlutter.FlutterSwiftBinaryReply": "_FlutterSwiftBinaryReply",
    "com.padl.AndroidFlutter.FlutterSwiftBinaryMessageHandler": "_FlutterSwiftBinaryMessageHandler",
    "io.flutter.plugin.common.BinaryMessenger": "AndroidFlutterBinaryMessenger",
    "java.nio.Buffer": "JavaNIOBuffer",
    "java.nio.ByteBuffer": "JavaNIOByteBuffer",
    "java.nio.ByteOrder": "JavaNIOByteOrder",
  }
}
